= link_to "📄#{artifact.name}", artifact_path(artifact, format: :turbo_stream), class: "btn decoration-none p-0", data: { turbo_prefetch: false }
= link_to "❌", artifact_path(artifact, format: :turbo_stream), class: "btn decoration-none",   data: {turbo_method: :delete, turbo_confirm: "Are you sure?", turbo_prefetch: false}