= turbo_stream.update "popup", ""
= turbo_stream.append dom_id(@folder, :artifacts) do 
  = turbo_frame_tag dom_id(@artifact), class: "d-flex col-12 justify-content-between" do 
    = render "artifacts/artifact_view", artifact: @artifact